extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'index'
  - var description = 'index'
  //- - var pageId = 'indexPage'

//--------------------------------------------------//

block head
  +style('swiper')
  +style('index')

block startBody
  +header()
 
block endBody
  +footer()
  +script('swiper')
  +script('main')
  +script('bubblesSlider')

//--------------------------------------------------//

mixin categoryCard(icon,title)
  +b.categoryCard
    +e.IMG.icon.img(src=icon alt='')
    +e.title!=title

mixin freshCard(title,price,quantity,offers,time)
  +b.freshCard
    +e.P.status
      +e.SVG.icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14")
        path(fill="#4BDD8E" d="M12.62.44a1.04 1.04 0 00-.82-.17c-.14.04-.27.1-.39.18-.12.1-.22.2-.3.33L5.06 10.86 2.09 7.9a1.01 1.01 0 00-.78-.3c-.29 0-.56.14-.75.36a1.22 1.22 0 00.06 1.65L4.5 13.5l.17.14a1.04 1.04 0 00.81.16c.14-.03.27-.09.39-.18.12-.08.22-.2.3-.32l6.76-11.24a1.22 1.22 0 00.16-.88 1.21 1.21 0 00-.47-.73z")
      span Открыт
    +e.P.title!=title
    +e.price
      p!=price
      p!=quantity
    +e.offers
      p!=offers
      p!=time

mixin faq(title,text)
  +e.item.swiper-slide.accardionJs
    +e.P.title!=title
    +e.P.text.accardionContentJs!=text

//---------------__page content__-----------------//

block content
  .wrapper
    +b.SECTION.main
      +e.container
        +e.H1.title.page-title Революция в оптовых закупках!
        +e.H2.subtitle Маркетплейс для заказа оптовых партий печатных плат напрямую у производителей со всего мира и без посредников. Еще никогда закупки не были такими простыми и безопасными.  
        a.btn.btn_big(href='#')
          span.btn__text ПОЛУЧИТЬ ЦЕНЫ ОНЛАЙН 
        +e.logos
          +e.logo-wrap
            img(src="img/logo1.svg")
          +e.logo-wrap
            img(src="img/logo2.svg")
          +e.logo-wrap
            img(src="img/logo3.svg")
          +e.logo-wrap
            img(src="img/logo4.svg")


      |<svg class="main__bg-left" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1185 1153"><path fill="#fff" d="M333 942C107 767 178 557 63 336-51 116 427-26 669 67c241 93 615 490 269 605-346 116-380 444-605 270z"/></svg>

      |<svg class="main__bg-right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 630 643"><path fill="#fff" d="M630 336c0 166-150 291-290 306S112 488 29 336C-53 184 45 168 330 36s300 134 300 300z"/></svg>

      +e.SVG.scroll-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 34 29")
        path(fill="#4CDD74" d="M29.6 27.5c.2.2.5.2.7 0l3.2-3.1a.5.5 0 00-.7-.8l-2.9 2.9-2.8-2.9a.5.5 0 10-.7.8l3.2 3.1zm-.2-17v16.7h1V10.4h-1z")
        g(clip-path="url(#clip0)")
          path(fill="#4CDD74" d="M9 .7C6.6.7 4.8 1.5 3.2 3A7.5 7.5 0 00.9 8.6v12.5c0 2.1.8 4 2.4 5.5A7.7 7.7 0 008.9 29c2.2 0 4-.7 5.6-2.3a7.6 7.6 0 002.3-5.5V8.6c0-2.2-.8-4-2.3-5.6A7.5 7.5 0 008.9.7zm6 20.4a6 6 0 01-1.8 4.3A5.9 5.9 0 019 27.2a6 6 0 01-4.4-1.8A5.9 5.9 0 012.7 21V8.6c0-1.7.6-3.1 1.8-4.3A6 6 0 019 2.5c1.7 0 3.1.6 4.3 1.8A6 6 0 0115 8.6v12.5zM9 6c-.3 0-.5 0-.7.2l-.2.6v4.4c0 .2 0 .4.2.6.2.2.4.3.7.3l.6-.3c.2-.2.2-.4.2-.6V6.9A.9.9 0 009 6z")
        clipPath(id="clip0")
          path(fill="#fff" d="M0 0h15.8v28.2H0z" transform="translate(1 .7)")

  //---------------__work__-----------------//

  mixin workCard(title, text)
    +e.card
      +e.P.title=title
      +e.P.text=text

  +b.SECTION.work.wrapper
    h3.section-title Как это работает?
    +e.nav
      +e.A.link.tab-link-js(href='#z') Заказчикам
      +e.A.link.tab-link-js(href='#p') Поставщикам
    +e.tabs
      +e.tab.tab-js#z
        .signup__num
          span 1
        +workCard('Создавайте конкурсы','На создание конкурса уйдет 5 минут, проект моментально станет доступен множеству производителей.')
        .signup__num
          span 2
        +workCard('Ожидайте предложения','Получите предложения по цене, сроку поставки и условиям оплаты от проверенных производителей в Китае.')
        .signup__num
          span 3
        +workCard('Выбирайте победителей','Выберите победителя одним нажатием кнопки, либо отклоните тех, которые Вас не заинтересовали.')
        .signup__num
          span 4
        +workCard('Заключайте сделки','Сервис возьмет на себя хлопоты по переводу денег в Китай и таможню, при этом гарантируя качество и сроки.')
      +e.tab
        .signup__num
          span 1
        .signup__num
          span 2
        .signup__num
          span 3
        .signup__num
          span 4
      +e.tab.tab-js#p
        .signup__num
          span 1
        +workCard('Подписывайтесь на конкурсы','Подпишитесь на интересующие конкурсы и получайте уведомления на Вашу электронную почту.')
        .signup__num
          span 2
        +workCard('Получайте заказы','Сравнивайте ваши предложения с конкурентами, улучшайте их и получайте заказы на разные проекты.')
        .signup__num
          span 3
        +workCard('Проводите переговоры','Общайтесь с клиентами в привычном онлайне чате и обсуждайте любые интересующие вопросы.')
        .signup__num
          span 4
        +workCard('Повышайте рейтинг','Победите в конкурсах и улучшите свой рейтинг на площадке, выполняя проекты качественно и в срок.')

    a.btn.btn_big.center(href='#')
      span.btn__text ЗАРЕГИСТРИРОВАТЬСЯ

  mixin forWhomCard(img, title, text)
    +e.card&attributes(attributes)
      img(src="img/"+img+".svg", alt="")
      +e.card-desc
        +e.card-title!=title
        +e.card-text!=text

  +b.SECTION.forWhom.wrapper
    h3.section-title Для кого создавался
    +e.container
      +forWhomCard('for1', 'Тем, кто закупает у перекупов в РФ', 'Поможем начать работать с проверенными производителями напрямую и не отдавать свою маржу посредникам, которые зарабатывают до 70% на одной поставке.')
      +forWhomCard('for2', 'Тем, кто работает с Китаем напрямую', 'Поможем снизить закупочную стоимость печатных плат до 20% на каждом проекте, благодаря автоматизированным торгам на платформе и выгодной логистики из Китая.')


  
  +b.SECTION.whatUseful.wrapper
    h3.section-title Чем будет полезен
    +e.container
      .swiper-wrapper
        +forWhomCard('what1', 'Инженерная поддержка', 'Бесплатно поможем решить любые технические вопросы на английском с Китайскими производителями при помощи нашего инженерного состава.').swiper-slide
        +forWhomCard('what3', 'Таможня и налоги', 'Возьмем на себя весь процесс перевода денег в Китай, прохождения таможни и уплаты налогов. После, предоставим закрывающие документы.').swiper-slide
        +forWhomCard('what2', 'Сделки внутри РФ', 'Закупка по ценам производителей в Китае, при этом договора будут оформлены внутри РФ с ответственностью по качеству и срокам.').swiper-slide

  //- mixin workCard(num,title,text)
  //-   +b.workCard.swiper-slide
  //-     +e.P.num!=num
  //-     +e.P.title!=title
  //-     +e.P.text!=text
  //- +b.SECTION.work.wrapper
  //-   h3.section-title Как это работает?
  //-   +e.container
  //-     .swiper-wrapper
  //-       +workCard('1','Создайтe конкурс','На создание конкурса уйдет 5 минут, проект моментально станет доступен множеству поставщиков. Никаких ЭЦП и сложных процедур. Вам это понравится.')
  //-       +workCard('2','Ожидайте предложения','Поставщики видят цены, сроки друг друга и постоянно конкурируют за Ваш проект. Просто наблюдайте за процессом и ожидайте окончание торгов.')
  //-       +workCard('3','Проводите переговоры','Проводите переговоры через онлайн чат с теми, кто Вас заинтересовал. Не отвлекайтесь больше на звонки и письма от поставщиков.')
  //-       +workCard('4','Выбирайте победителя','Выбирайте поставщиков не в слепую, а основываясь на реальных отзывах и рейтингах, которые были оставлены заказчиками по завершению проектов.')
  //-   +e.info Остались вопросы? Посмотрите 
  //-     a(href='#') подробную информацию

  //---------------__category__-----------------//

  //- +b.SECTION.category.wrapper
  //-   h3.section-title Категории тендеров
  //-   +e.container
  //-     +categoryCard('img/category1.jpg','Разработка электроники')
  //-     +categoryCard('img/category2.jpg','Электронные компоненты')
  //-     +categoryCard('img/category3.jpg','Контрактное производство')
  //-     +categoryCard('img/category4.jpg','Закупка оборудования')
  //-     +categoryCard('img/category5.jpg','Производственные станки')

  //---------------__fresh__-----------------//

  +b.SECTION.fresh.wrapper
    h3.section-title Свежие тендеры
    +e.container
      +freshCard('Это название для тендера, который будет выводиться на этой странице','150 000 - 200 000','300 шт.','4 предложения','Осталось 3 дня')
      +freshCard('Это название для тендера, который будет выводиться на этой странице','150 000 - 200 000','300 шт.','4 предложения','Осталось 3 дня')
      +freshCard('Это название для тендера, который будет выводиться на этой странице','150 000 - 200 000','300 шт.','4 предложения','Осталось 3 дня')
      +freshCard('Это название для тендера, который будет выводиться на этой странице','150 000 - 200 000','300 шт.','4 предложения','Осталось 3 дня')
      +freshCard('Это название для тендера, который будет выводиться на этой странице','150 000 - 200 000','300 шт.','4 предложения','Осталось 3 дня')
      +freshCard('Это название для тендера, который будет выводиться на этой странице','150 000 - 200 000','300 шт.','4 предложения','Осталось 3 дня')
      a.btn.btn_full(href='#') Посмотреть все тендеры
    +e.signup
      +e.question
        p Хотите зарабатывать больше?
      +e.answer
        div
          +e.P.text Создайте аккаунт бесплатно уже сегодня!
          a.btn.btn_big(href='#')
            span.btn__text Зарегистрироваться

  //---------------__provider__-----------------//

  +b.SECTION.provider
    h3.section-title.wrapper Поставщики
    +e.container
      .bubbles
    +e.A.btn(href='#') 
      | Посмотреть всех поставщиков
      +e.SVG.btn-icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 9")
        path(d="M11.5 4.7c.2-.2.2-.5 0-.7L8.3.8a.5.5 0 00-.7.7l2.9 2.8-2.9 2.9a.5.5 0 00.7.7l3.2-3.2zM.8 4.8h10.4v-1H.8v1z")

  //---------------__accaunt__-----------------//

  +b.SECTION.accaunt.wrapper
    +e.cards
      +e.card._customer
        +e.card-desc
          +e.A.card-title(href='#')
            |Аккаунт для заказчика
            +e.SVG.arrow(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 9")
              path(d="M11.5 4.7c.2-.2.2-.5 0-.7L8.3.8a.5.5 0 00-.7.7l2.9 2.8-2.9 2.9a.5.5 0 00.7.7l3.2-3.2zM.8 4.8h10.4v-1H.8v1z")
            +e.SVG.arrow-hover(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 43 9")
              path(d="M42.6 4.7c.2-.2.2-.5 0-.7L39.5.8a.5.5 0 10-.7.7l2.8 2.8-2.8 2.9a.5.5 0 10.7.7l3.1-3.2zM.3 4.8h42v-1H.3v1z")
          +e.P.card-text Размещайте неограниченное количество конкурсов на платформе. На создание 1 конкурса уйдет не более 1 минуты. Результатом размещения станет сокращение себестоимости вашего проекта до 20%
      +e.card._provider
        +e.card-desc
          +e.A.card-title(href='#')
            |Аккаунт для поставщика
            +e.SVG.arrow(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 9")
              path(d="M11.5 4.7c.2-.2.2-.5 0-.7L8.3.8a.5.5 0 00-.7.7l2.9 2.8-2.9 2.9a.5.5 0 00.7.7l3.2-3.2zM.8 4.8h10.4v-1H.8v1z")
            +e.SVG.arrow-hover(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 43 9")
              path(d="M42.6 4.7c.2-.2.2-.5 0-.7L39.5.8a.5.5 0 10-.7.7l2.8 2.8-2.8 2.9a.5.5 0 10.7.7l3.1-3.2zM.3 4.8h42v-1H.3v1z")
          +e.P.card-text Подписывайтесь на интересующие вас конкурсы и принимайте в них участие без всяких ограничений. Повысить свой рейтинг на платформе можно выполняя качественно и в срок проекты заказчика
    |<svg class='accaunt__icon' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 76"><ellipse cx="38.39" cy="37.91" fill="#fff" rx="37.7" ry="37.86"/><ellipse cx="38.39" cy="37.91" fill="url(#paint0_linear)" rx="37.7" ry="37.86"/><path fill="#fff" d="M43.6 33.1h-.88v-4.4a5.3 5.3 0 00-5.27-5.3 5.26 5.26 0 00-5.27 5.3v4.4h-.88a3.51 3.51 0 00-3.52 3.53v9.71a3.54 3.54 0 003.52 3.53h12.3a3.51 3.51 0 003.51-3.53v-9.7a3.54 3.54 0 00-3.51-3.54zm-2.64 0h-7.03v-4.4a3.54 3.54 0 013.52-3.54 3.5 3.5 0 013.51 3.53v4.41z"/><linearGradient id="paint0_linear" x1="61.75" x2="-16.13" y1="7.53" y2="101.48" gradientUnits="userSpaceOnUse"><stop offset="1" stop-color="#0BC8A6" stop-opacity=".39"/><stop offset="1" stop-color="#0CD38C" stop-opacity=".75"/></linearGradient></svg>
    h3.section-title ECIRCUIT 100% безопасный
    +e.P.text Безопасный доступ к ecircuit.co с любого браузера или устройства, такого как ПК, Mac, iPad, смартфоны и другие устройства.  Вся информация введенная в ecircuit.co, включая прикрепленные файлы, защищена современными техническими средствами.

  //---------------__faq__-----------------//

  +b.SECTION.faq.wrapper
      h3.section-title Ответы на вопросы
      +e.slider
        +e.container
          +e.list.swiper-wrapper
            +faq('Зачем была создана b2b биржа Ecircuit?','Рынок промышленной электроники в РФ насчитывает тысячи компаний, мы решили что необходимость в подобной платформе назрела именно сейчас, учитывая экономическую ситуацию и тренды в пользу цифровизации. Наша задача помочь заказчикам уложиться в бюджет и сроки по своим проектам, а поставщикам найти новых клиентов с минимальными затратами.')
            +faq('Кто может регистрироваться на платформе?','На платформе могут регистрироваться исключительно юридические лица, как со стороны заказчика, так и со стороны поставщика. Для прохождения модерации на платформе, Вам необходимо будет подтвердить свое причастие к компании.')
            +faq('Размещение конкурсов на платформе бесплатно?','Стоимость участия для заказчиков абсолютно бесплатна. Вы можете создавать неограниченное количество конкурсов по всем вашим проектам.')
            +faq('Сложно ли создать конкурс на платформе?','Создание конкурса займет не более 1 минуты. Для начала, заказчик создает конкурс, заполняет информацию о проекте, прикрепляет файлы для оценки проекта и ожидает предложения в личный кабинет и на почту. Поставщики в свою очередь, торгуются за ваш проект между собой. Заказчику останется лишь выбрать победителя, исходя из рейтинга и статуса поставщика.')
            +faq('В каких категориях можно участвовать?','На платформе можно создавать конкурсы в следующих категориях (Закупка, производство, оборудование). Доступны практически все возможные типы конкурсов, от производства печатных плат до поставка банковского оборудования.')
            +faq('Есть ли мобильная версия платформы?','Да, есть. Учитывая количество людей, которые ездят по встречам и командировкам, мы создали абсолютно адаптированную мобильную версии платформы. Вам доступен полный функционал, включая режим торгов и чата.')
          .next-btn
            svg(xmlns="http://www.w3.org/2000/svg" fill="none" width="13" height="21" viewBox="0 0 13 21")
              path(fill="#fff" d="M12.2 1.5v17.7c0 1.2-1.4 1.8-2.3 1l-8.7-8.9c-.5-.5-.5-1.4 0-2L10 .6c.9-.9 2.3-.3 2.3 1z")
          .prev-btn
            svg(xmlns="http://www.w3.org/2000/svg" fill="none" width="13" height="21" viewBox="0 0 13 21")
              path(fill="#fff" d="M.7 19.2V1.5C.7.2 2-.4 3 .5l8.7 8.9c.5.5.5 1.4 0 2L3 20.1c-.9.8-2.3.2-2.3-1z")

  //---------------__signup__-----------------//

  +b.SECTION.signup.wrapper
    h2.section-title Хотите зарабатывать больше?
    +e.H3.subtitle Создайте аккаунт бесплатно уже сегодня
    a.btn(href='#')
      span.btn__text Зарегистрироваться
    +e.container
      +e.step
        +e.num
          span 1
        +e.text Проходите короткую регистрацию 
      +e.step
        +e.num
          span 2
        +e.text Заполняете данные в личном кабинете
      +e.step
        +e.num
          span 3
        +e.text Мы подтверждаем статус вашей компании
      +e.step
        +e.num
          span 4
        +e.text Открываем доступ к размещению конкурсов и предложений